@mixin base-button {
  display: inline-block;
  border: none;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $white;
  background-color: $blue;
  border-radius: 15px;
  cursor: pointer;
}

@mixin base-text {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $paragraph_color;
}

@mixin section-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: $blue_light;
}

@mixin section-header {
  font-weight: 500;
  font-size: 42px;
  line-height: 52px;
  color: $black_blue;
}

@mixin section-content {
  max-width: 560px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $paragraph_color;
}

@mixin logo-text {
  font-weight: 700;
  font-size: 28px;
  line-height: 22px;
  color: $black_blue;
  cursor: pointer;
}

@mixin nav-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $black_blue;
}
